<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container" style="text-align: center">
        <div class="row">
                <img id="AccessDenied" src="{{ asset('bundles/app/images/access_denied.jpg') }}" alt="AccessDenied"/>
                <h3>Access Denied</h3>
        </div>
        <div class="row">
            <br>
            <br>
            <br>
            <a href="{{ path('login_route')}}" class="btn btn-danger">Ok</a>
        </div>
    </div>
</body>
</html>