<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ companyName }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery.toastmessage.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/loading.css') }}">
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/validator.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.toastmessage.js') }}"></script>
</head>


<body>
<div id="loading">
    <img id="loading-image" src="{{ asset('bundles/app/images/Preloader.gif') }}" alt="Loading..."/>
</div>
<!-- Navbar -->
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="{{ path('adminHome') }}" class="navbar-brand" id="brandName">{{ companyName }}</a>
            </div><!-- Navbar Header-->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <input id="userID" type="hidden" value="{{ app.user.id }}">
                <ul class="nav navbar-nav navbar-right">
                    <li class="" id="adminHome"><a href="{{ path('adminHome') }}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ app.user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="cursor:pointer"><a id="modifyAccount">Update Account</a></li>
                            <li style="cursor:pointer"><a id="changePassword">Change password</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- End Container-->
    </nav><!-- End navbar -->
</div>
<br>
<br>
<br>
<br>
<br>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div class="container" id="dom">

</div>
<!--footer-->
<footer>
    <div class="container text-center">
        <br>

        <p>&copy; Copyright @ 2016</p>

    </div><!-- end Container-->
</footer>
<script type="text/javascript">
    $("#modifyAccount").click(function () {
        $('#dom').empty();
        $.get('updateAccount').done(function (data) {
            $('#dom').append(data);
        });
    });
    $('#changePassword').click(function () {
        $('#dom').empty();
        $.get('changePassword').done(function (data) {
            $('#dom').append(data);
        });
    });
    $(document).ready(function () {
        $('#dom').empty();
        $.get('admin/showProjects').done(function (data) {
            $('#dom').append(data);
        });
    });
    $(document).ajaxStart(function() {
        $("#loading").show();
    });

    $(document).ajaxStop(function() {
        $("#loading").delay(20000).hide();
        $("#st-tree-container").show();
    });

</script>

{#for loading of page#}
{#<div class="modalForLoading"><!-- Place at bottom of page --></div>#}
</body>

</html>
