<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ app.user.getFirstName }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery.toastmessage.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/loading.css') }}">
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/validator.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.toastmessage.js') }}"></script>
</head>


<body>
<div id="loading">
    <img id="loading-image" src="{{ asset('bundles/app/images/Preloader.gif') }}" alt="Loading..."/>
</div>
<!-- Navbar -->
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="{{ path('customerHome') }}" class="navbar-brand" id="brandName">{{ app.user.getFirstName }}</a>
            </div><!-- Navbar Header-->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <input id="userID" type="hidden" value="{{ app.user.id }}">
                <ul class="nav navbar-nav navbar-right">
                    <li class="" id="adminHome"><a href="{{ path('customerHome') }}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ app.user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li id="modifyAccount"><a>Update Account</a></li>
                            <li id="changePassword"><a>Change password</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- End Container-->
    </nav><!-- End navbar -->
</div>
<br>
<br>
<br>
<br>
<br>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div class="container" id="dom">
    <div class="col-xs-6 col-xs-offset-3">
        {% if isProject %}
            <div class='row'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h4>{{ project.name }}</h4>
                    </div>
                    <div class='panel-body'>
                        <h4>Addess : {{ project.address }}</h4>
                        <p>{{ project.note }}</p>
                    </div>
                    <div class='panel-footer'>
                        <h3>Project</h3>
                        <div class='row'>
                            <div class='col-xs-6'>
                                <p>Created At : {{ project.createdAt }}</p>
                            </div>
                            <div class='col-xs-6'>
                                <p>Updated At : {{ project.updatedAt }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class='row'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h4>{{ unit.name }}</h4>
                    </div>
                    <div class='panel-body'>
                        <p>{{ unit.note }}</p>
                    </div>
                    <div class='panel-footer'>
                        <h3>Unit</h3>
                        <div class='row'>
                            <div class='col-xs-6'>
                                <p>Created At : {{ unit.createdAt }}</p>
                            </div>
                            <div class='col-xs-6'>
                                <p>Updated At : {{ unit.updatedAt }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if comments|length > 0 %}
            {% for i in range(0,comments|length -1) %}
                <div class='row'>
                    <div class='panel panel-default' style="text-align: center">
                        <div class="panel-heading">
                            {% if comments[i][2] == 1%}
                                <div class='panel-header'>Name : {{ comments[i][0] }}
                                    <mark style="background-color: #66ff99">ADMIN</mark>
                                </div>
                            {% else %}
                                <div class='panel-header'>Name : {{ comments[i][0] }} </div>
                            {% endif %}
                        </div>
                        <div class='panel-body'>Comment : {{ comments[i][1] }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class='row' id='panelComment'>
            <div class='panel panel-default'>
                <div class='panel-heading' style="text-align: center">
                    <h4>Add Comment</h4>
                </div>
                <form role='form' id='formComment'>
                    <div class='panel-body'>
                        <div class='form-group'>
                            <label for="comment">Comment</label>
                            <textarea class='form-control' rows='8' id='comment' required></textarea>
                        </div>
                    </div>
                    <div class='panel-footer' style="text-align: center">
                        <button class='btn btn-default' id='btnComment' type='submit'>Comment</button>
                    </div>
                </form>
            </div>
            <script type='text/javascript'>
                $('#formComment').submit(function (event) {

                    // Stop form from submitting normally
                    event.preventDefault();

                    // Get some values from elements on the page:
                    var form = $(this),
                            url = 'comment';
                    // Send the data using post
                    var comment_ = $('#comment').val();
                    console.log(comment_);
                    var posting = $.post(url, {comment: comment_});

                    // Put the results in a div
                    posting.done(function (data) {
                        $().toastmessage('showSuccessToast', 'Success');
                        $("<div class='row' style='text-align: center'> <div class='panel panel-default'><div class='panel-heading'>You</div><div class='panel-body'>" + comment_ + "</div> </div> </div>").insertBefore('#panelComment');
                        console.log(data);
                        $('#comment').val('');
                    });
                });
            </script>
        </div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="container text-center">
        <br>

        <p>&copy; Copyright @ 2016</p>

    </div><!-- end Container-->
</footer>
<script type="text/javascript">
    $("#modifyAccount").click(function () {
        $('#dom').empty();
        $.get('updateAccount').done(function (data) {
            $('#dom').append(data);
        });
    });
    $('#changePassword').click(function () {
        $('#dom').empty();
        $.get('changePassword').done(function (data) {
            $('#dom').append(data);
        });
    });
    $(document).ajaxStart(function () {
        $("#loading").show();
    });

    $(document).ajaxStop(function () {
        $("#loading").delay(20000).hide();
        $("#st-tree-container").show();
    });

    $(document).ready(function () {
        $("#loading").delay(20000).hide();
    });
</script>

{#for loading of page#}
<div class="modalForLoading"><!-- Place at bottom of page --></div>
</body>

</html>
