<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Comapany Management</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery.toastmessage.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/loading.css') }}">
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/validator.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.toastmessage.js') }}"></script>
</head>


<body>
<div id="loading">
    <img id="loading-image" src="{{ asset('bundles/app/images/Preloader.gif') }}" alt="Loading..."/>
</div>
<!-- Navbar -->
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="{{ path('superAdminHome') }}" class="navbar-brand">Company Management System</a>
            </div><!-- Navbar Header-->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a id="linkHome" href="{{ path('superAdminHome') }}">Home</a></li>
                    <li class="" style="cursor:pointer" id="createCompany"><a>Create Company</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ app.user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="cursor:pointer"><a id="modifyAccount">Update Account</a></li>
                            <li style="cursor:pointer"><a id="changePassword">Change password</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- End Container-->
    </nav><!-- End navbar -->
</div>
<br>
<br>
<br>
<br>
<br>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div class="container" id="dom">
    <div class="col-xs-12 text-center">
        {% if companyAdmin|length >0 %}
            {% if companyAdmin|length == 2 %}
                <div class="row">
                    {% for j in range(0, 1) %}
                        <div class="col-xs-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4>{{ [companyAdmin[j][0].getName,companyAdmin[j][0].getCode] | join("  ") }}</h4>
                                </div>
                                <div class="panel-body">
                                    <h3>Admin Details</h3>
                                    <p>Name : {{ companyAdmin[j][1].getFirstName }}</p>
                                    <p>email : {{ companyAdmin[j][1].getUsername }}</p>
                                    <p>telephone number : {{ companyAdmin[j][1].getTelephoneNumber }}</p>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-warning editCompanyButton"
                                                id="{{ companyAdmin[j][0].getId }}" data-toggle="modal"
                                                data-target="#edit-modal">Edit
                                            Company
                                        </button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-danger deleteCompanyButton"
                                                id="{{ companyAdmin[j][0].getId }}" data-toggle="modal"
                                                data-target="#delete-modal">Delete
                                        </button>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <h3>Company</h3>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p>Created At : {{ companyAdmin[j][0].getCreatedAt }}</p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>Updated At : {{ companyAdmin[j][0].getUpdatedAt }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {% for i in range(0,companyAdmin|length -1,2) %}
                    <div class="row">
                        {% for j in range(0, 1) %}
                            {% if i+j < companyAdmin|length %}
                                <div class="col-xs-6">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4>{{ [companyAdmin[i+j][0].getName,companyAdmin[i+j][0].getCode] | join("  ") }}</h4>
                                        </div>
                                        <div class="panel-body">
                                            <h3>Admin Details</h3>
                                            <p>Name : {{ companyAdmin[i+j][1].getFirstName }}</p>
                                            <p>email : {{ companyAdmin[i+j][1].getUsername }}</p>
                                            <p>telephone number : {{ companyAdmin[i+j][1].getTelephoneNumber }}</p>
                                            <div class="col-xs-6">
                                                <button type="button" class="btn btn-warning editCompanyButton"
                                                        id="{{ companyAdmin[i+j][0].getId }}" data-toggle="modal"
                                                        data-target="#edit-modal">Edit
                                                    Company
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button type="button" class="btn btn-danger deleteCompanyButton"
                                                        id="{{ companyAdmin[i+j][0].getId }}" data-toggle="modal"
                                                        data-target="#delete-modal">Delete
                                                </button>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <h3>Company</h3>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <p>Created At : {{ companyAdmin[i+j][0].getCreatedAt }}</p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p>Updated At : {{ companyAdmin[i+j][0].getUpdatedAt }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="row">
                <div class="panel panel-warning">
                    <div class="panel-body">
                        <h3>No company to show!</h3>
                        <p>Click create company!</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <br>
        <br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Company</h4>
                </div>
                <form role='form' id='editModalForm'>
                    <div class="modal-body edit-content editModal" id="modalEditIdButton">

                        <div id='company'>
                            <div class='form-group'>
                                <label for='company_name' class='control-label'>Company Name</label>
                                <input type='text' class='form-control' id='company_name' placeholder='Company Name' maxLength='50' required>
                            </div>
                            <div class='form-group'>
                                <label for='code' class='control-label'>Code</label>
                                <input type='text' class='form-control' id='code_' placeholder='Code' maxLength='15' required>
                            </div>
                            <div class='col-xs-offset-8 form-group'>
                                <button type='button' class='btn btn-primary' id='next'>Create Admin</button>
                            </div>
                        </div>
                        <div id='admin' style='display: none;'>
                            <h1 align='center'>Create Admin</h1>
                            <div class='form-group'>
                                <label for='first_name' class='control-label'>First Name</label>
                                <input type='text' class='form-control' id='first_name' placeholder='First Name' maxLength='50'  required>
                            </div>
                            <div class='form-group'>
                                <label for='last_name' class='control-label'>Last Name</label>
                                <input type='text' class='form-control' id='last_name' placeholder='Last Name' maxLength='50'  required>
                            </div>
                            <div class='form-group'>
                                <label for='inputEmail' class='control-label'>Email</label>
                                <input type='email' class='form-control' id='email' placeholder='Email' maxLength='255' data-error='Invalid Email!' required>
                                <div class='help-block with-errors'></div>
                            </div>
                            <div class='form-group'>
                                <label for='telephone_number' class='control-label'>Telephone Number</label>
                                <input type='text' class='form-control' id='telephone_number' placeholder='Telephone Number' maxLength='10' required>
                            </div>
                            <div class='form-group'>
                                <label for='password' class='control-label'>Password</label>
                                <input type='text' class='form-control' id='password_' placeholder='Password' maxLength='50' value='********' required>
                            </div>
                            <div class='col-xs-offset-6 form-group'>
                                <button type='submit' class='btn btn-primary' id='update'>Submit</button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id='editModalClose' data-dismiss="modal">Close</button>
                        {#<button type="submit" class="btn btn-warning" id='modalEditButton'>Save changes</button>#}
                    </div>
                    <script type="text/javascript">
                        $('#editModalClose').click(function(){
                            $('#company').show();
                            $('#admin').hide();
                        });
                    </script>
                </form>
            </div>
        </div>
    </div>
    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <br>
        <br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Company</h4>
                </div>
                <div class="modal-body edit-content deleteModal" id="modalDeleteIdButton"><p>Are you sure want to
                        <Strong>delete</Strong>!</p></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="modalDeleteCompany">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#next').click(function(){
            if((($('#company_name').val() !== '') && ($('#code_').val() !== ''))){
                $('#company').hide();
                $('#admin').show();
            }else{
                $().toastmessage('showToast', {
                    text     : 'Fill the empty fields!',
                    sticky   : true,
                    position : 'top-right',
                    type     : 'error',
                    close    : function () {console.log('toast is closed ...');}
                });
            }

        });

        $('#editModalForm').validator();
        $('.editCompanyButton').click(function () {
            var id = $(this).attr('id');
            $("#modalEditIdButton").attr("id", id);
            var url = 'superAdmin/companyAdminDetail';
            var posting = $.post(url, {id: id});
            posting.done(function (data) {
                $("#company_name").attr("value", data.company_name);
                $("#code_").attr("value", data.code);
                $("#first_name").attr("value", data.first_name);
                $("#last_name").attr("value", data.last_name);
                $("#email").attr("value", data.username);
                $("#telephone_number").attr("value", data.telephone_number);
            });
        });
        $('.deleteCompanyButton').click(function () {
            $("#modalDeleteIdButton").attr("id", $(this).attr('id'));
        });
        $('#editModalForm').submit(function (event) {

            // Stop form from submitting normally
            event.preventDefault();

            // Get some values from elements on the page:
            var form = $(this),
                    url = 'superAdmin/editCompany';

            // Send the data using post
            var id_ = $('.editModal').attr('id');
            var company_name = $("#company_name").val();
            var code_ = $('#code_').val();
            var first_name = $('#first_name').val();
            var last_name = $('#last_name').val();
            var email = $('#email').val();
            var telephone_number = $('#telephone_number').val();
            var password = $('#password_').val();
            var posting = $.post(url, {id: id_, name: company_name, code: code_,first_name : first_name,last_name:last_name,username :email,telephone_number:telephone_number,password:password});

            // Put the results in a div
            posting.done(function (data) {
                $('#edit-modal').modal('toggle');
                $().toastmessage('showSuccessToast', "Success!");
                setTimeout(function(){
                    location.reload();
                }, 2000);
            });

        });
        $("#modalDeleteCompany").click(function () {
            var id_ = $('.deleteModal').attr('id');
            var url = 'superAdmin/deleteCompany';
            var posting = $.post(url, {id: id_});
            posting.done(function (data) {
                $('#delete-modal').modal('toggle');
                $().toastmessage('showNoticeToast', data);
                setTimeout(function(){
                    location.reload();
                }, 2000);
            });
        });
    </script>
</div>
<!--footer-->
<footer>
    <div class="container text-center">
        <br>

        <p>&copy; Copyright @ 2016</p>

    </div><!-- end Container-->
</footer>
<script type="text/javascript">
    $("#modifyAccount").click(function () {
        $('#dom').empty();
        $.get('updateAccount').done(function (data) {
            $('#dom').append(data);
        });
    });
    $('#changePassword').click(function () {
        $('#dom').empty();
        $.get('changePassword').done(function (data) {
            $('#dom').append(data);
        });
    });
    $('#createCompany').click(function () {
        $('#dom').empty();
        $.get('superAdmin/createCompany').done(function (data) {
            $('#dom').append(data);
        });
    });
    $(document).ready(function () {
        $("#loading").delay(20000).hide();
    });
    $(document).ajaxStart(function() {
        $("#loading").show();
    });

    $(document).ajaxStop(function() {
        $("#loading").delay(20000).hide();
        $("#st-tree-container").show();
    });
</script>

</body>

</html>
