<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company Management Login form</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}">


    <!-- Favicon and touch icons -->
    {#<link rel="shortcut icon" href="assets/ico/favicon.png">#}
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand">Company management System</a>
        </div><!-- Navbar Header-->
    </div><!-- End Container-->
</nav><!-- End navbar -->

{% if error %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<div class="container">

    <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">User Name</label>
        <input type="text" id="username" class="form-control" placeholder="Email" name="_username"
               value="{{ last_username }}" required autofocus>
        {#email as username#}
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" name="_password" placeholder="Password..." required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" name="_remember_me" id="remember_me" > Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->

</body>
</html>

